@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Forum example</h1>
    <p class="lead">Simple and not yet fully ready forum example</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>PS. The button is just a joke* Will be fixed in incoming updates</p>
</div>

